:root {
  .square{
    width: 100px;
    height: 100px ;
    font-size: 72px;
    font-weight: bold;
    color: red;
  }

  .board{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    border: 2px solid red;
  }
}
